{# 
  For lm_eval/IFEval:
  - take the first USER message content as the SYSTEM content
  - insert an empty USER turn
  - start ASSISTANT
#}

{% set p = "" %}
{% for m in messages %}
  {% if m['role'] == 'user' and p == "" %}
    {% set p = m['content'] %}
  {% endif %}
{% endfor %}

<|im_start|>system
{{ p }}<|im_end|>
<|im_start|>user
<|im_end|>
<|im_start|>assistant